@import 'tailwindcss';

@theme {
  --color-surface: var(--color-zinc-950);
  --color-surface-elevated: var(--color-zinc-900);
  --color-surface-border: var(--color-zinc-800);

  --color-input: var(--color-zinc-800);
  --color-input-border: var(--color-zinc-700);

  --color-text: var(--color-zinc-200);
  --color-text-strong: white;
  --color-text-muted: var(--color-zinc-400);

  --color-brand: var(--color-amber-800);
  --color-brand-hover: var(--color-amber-700);
  --color-brand-accent: var(--color-amber-500);
  --color-brand-accent-hover: var(--color-amber-400);
}

html,
body {
  background-color: var(--color-surface);
}