@import 'tailwindcss';

@theme {
  /* Backgrounds */
  --color-surface: #090a0c;
  --color-surface-elevated: #18191d;
  --color-surface-border: #2f3035;

  /* Inputs */
  --color-input: #27282c;
  --color-input-border: #3a3b40;

  /* Text */
  --color-text: #e4e4e7;
  --color-text-strong: #f5f5f5;
  --color-text-muted: #a7a7af;

  /* Brand */
  --color-brand: #a35c36;
  --color-brand-hover: #b8673e;

  --color-brand-accent: #c9794d;
  --color-brand-accent-hover: #d98252;

  /* Feedback */
  --color-danger: #f87171;
}

html,
body {
  background-color: var(--color-surface);
  color: var(--color-text);
}